.main-podc {
    h1,
    .title {
        @include textos($blanco, 3rem, $bold);
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        span {
            display: flex;
            align-items: center;
            &:before {
                content: "\f00c";
                font-size: 25px;
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }
    }
    width: 100%;
    height: calc(100vh - 70px);
    .presentation {
        background-color: $azul1;
        padding: 2.5rem 0;
        h3,
        h4 {
            @include textos($blanco, 1.6rem, $bold);
            padding-top: 1rem;
            @include is (lg){
                font-size: 1.9rem;
            }
        }
        h4 {
            font-size: 1.05rem;
            @include is (lg){
                font-size: 1.1rem;
            }
        }
        .manage {
            min-height: 184px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include textos($blanco, 1rem, $regular);
            border: 1px solid $blanco;
            border-radius: 8px;
            padding: 40px;
            margin-top: 2rem;
            cursor: pointer;
            i {
                font-size: 2.5rem;
                margin-bottom: 10px;
                @include is (md){
                    font-size: 2rem;
                }
            }
            p {
                text-align: center;
                line-height: 20px;
                margin-bottom: 0;
            }
            &--1{
                i {
                    color: $rosa1;
                }
                &:hover {
                    border-color: $rosa1;
                }
            }
            &--2{
                i {
                    color: $amarillo1;
                }
                &:hover {
                    border-color: $amarillo1;
                }
            }
            &--3{
                i {
                    color: $azul2;
                }
                &:hover {
                    border-color: $azul2;
                }
            }
            &--4{
                i {
                    color: $rojo1;
                }
                &:hover {
                    border-color: $rojo1;
                }
            }
            @include is (lg){
                font-size: .9rem;
            }
        }
        @include is (lg){
            padding: 4rem 0;
        }
    }
    .message {
        p {
            @include textos($azul1, 1.7rem, $medium);
            text-align: center;
            @include is (lg){
                text-align: left;
                font-size: 2rem;
            }
        }
        .btn-meetUs {
            @include btn-start;
            width: 160px;
            padding: 10px 0;
            margin: auto;
            &:after {
                content: "\f061";
                font-size: 1rem;
                font-family: "FontAwesome";
                margin-left: .5rem;
            }
            @include is (lg){
                margin: inherit;
            }
        }
    }
    .manual-task {
        h2 {
            @include textos($azul1, 1.7rem, $bold);
            text-align: center;
            @include is (lg){
                font-size: 2.5rem;
                text-align: left;
                padding-right: 100px;
            }
        }
        p {
            @include textos($azul1, 1rem, $regular);
            margin-top: 25px;
            @include is (lg){
                font-size: 1.15rem;
            }
        }
    }
}