.main-podc {
    position: relative;
    h1,
    .title {
        @include textos($blanco, 3rem, $bold);
    }
    .typing {
        @include is (md){
            width: 29ch;
            animation: typing 3s steps(25), blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        span {
            display: flex;
            align-items: center;
            &:before {
                content: "\f00c";
                font-size: 25px;
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }
    }
    width: 100%;
    height: calc(100vh - 70px);
    .presentation {
        background-color: $azul1;
        padding: 2.5rem 0;
        h3,
        h4 {
            @include textos($blanco, 1.6rem, $bold);
            padding-top: 1rem;
            @include is (lg){
                font-size: 1.9rem;
            }
        }
        h4 {
            font-size: 1.05rem;
            @include is (lg){
                font-size: 1.1rem;
            }
        }
        .manage {
            min-height: 184px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include textos($blanco, 1rem, $regular);
            border: 1px solid $blanco;
            border-radius: 8px;
            padding: 40px;
            margin-top: 2rem;
            cursor: pointer;
            i {
                font-size: 2.5rem;
                margin-bottom: 10px;
                @include is (md){
                    font-size: 2rem;
                }
            }
            p {
                text-align: center;
                line-height: 20px;
                margin-bottom: 0;
            }
            &--1{
                i {
                    color: $rosa1;
                }
                &:hover {
                    border-color: $rosa1;
                }
            }
            &--2{
                i {
                    color: $amarillo1;
                }
                &:hover {
                    border-color: $amarillo1;
                }
            }
            &--3{
                i {
                    color: $azul2;
                }
                &:hover {
                    border-color: $azul2;
                }
            }
            &--4{
                i {
                    color: $rojo1;
                }
                &:hover {
                    border-color: $rojo1;
                }
            }
            @include is (lg){
                font-size: .9rem;
            }
        }
        @include is (lg){
            padding: 4rem 0;
        }
    }
    .message {
        p {
            @include textos($azul1, 1.7rem, $regular);
            text-align: center;
            strong {
                font-weight: $semibold;
            }
            @include is (lg){
                text-align: left;
                font-size: 2rem;
            }
        }
        .btn-meetUs {
            @include btn-start;
            width: 160px;
            padding: 10px 0;
            margin: auto;
            &:after {
                content: "\f061";
                font-size: 1rem;
                font-family: "FontAwesome";
                margin-left: .5rem;
            }
            @include is (lg){
                margin: inherit;
            }
        }
    }
    .icon {
        img {
            filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.7));
        }
    }
    .automatic-task,
    .teems,
    .sg-sst {
        h2 {
            text-align: center;
            @include is (lg){
                text-align: left;
                padding-right: 100px;
            }
        }
        p {
            @include textos($azul1, 1rem, $regular);
            margin-top: 25px;
            text-align: center;
            @include is (lg){
                font-size: 1.15rem;
            }
        }
    }
    .teems {
        h2 {
            text-align: center;
            @include is (lg){
                text-align: right;
                padding-left: 100px;
                padding-right: 0;
            }
        }
        p {
            text-align: center;
            @include is (lg){
                text-align: right;
            }
        }
    }
    .icon-automatic,
    .icon-teems,
    .icon-sst {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .do-better {
        background-color: $azul1;
        width: 100%;
        height: auto;
        padding: 40px 0;
        position: relative;
        z-index: 20;
        &:after {
            content: "";
            background-image: url("../img/bg-apurate.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: -1;
            bottom: -15px;
        }
        .content-do-better {
            display: grid;
            place-items: center;
            @include textos($blanco, 1.2rem, $bold);
            >h2 {
                color: $blanco;
                @include is (lg){
                    font-size: 2.8rem;
                    font-weight: $bold;
                }
            }
            h5 {
                margin-bottom: 35px;
                @include is (lg){
                    font-size: 1.35rem;
                    padding: 0 8rem;
                }
            }
            a {
                @include btn-start;
                background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
                padding: 5px 20px;
                &:hover {
                    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
                }
                &:after {
                    content: "\f061";
                    font-size: 20px;
                    font-family: "FontAwesome";
                    margin-left: 5px;
                }
            }
        }
    }
    .we-are {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .devs {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: circle(50% at 50% 50%);
            width: 200px;
            height: 200px;
            margin: 25px 0;
            filter: grayscale(50%);
            @include is (lg){
                width: 200px;
                height: 200px;
                margin: 15px 25px 0;
            }
        }
        .devs:first-child {
            background-image: url("../img/devs/gio.png");
        }
        .devs:last-child {
            background-image: url("../img/devs/david.jpeg");
        }
    }
    .aboutUs {
        max-height: 500px;
        overflow: auto;
        p,a {
            @include textos($azul1, 1rem, $regular);
            @include is (lg){
                font-size: 1.3rem;
            }
        }
        @include is (lg){
            max-height: 100%;
        }
    }
}
.cookies {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(5deg, #13547a 46%, #80d0c7 100%);
    padding: 25px 20px;
    .contenido-cookies {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include textos($blanco, .8rem, $regular);
        h5 {
            font-weight: $bold;
        }
        .botonera {
            display: flex;
            a {
                margin: 0 15px;
                @include btn-start;
                background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
                color: $blanco;
                border-color: $azul1;
                font-size: .73rem;
                padding: 7px 10px;
                &:hover {
                    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
                }
                @include is (lg){
                    font-size: .8rem;
                    padding: 7px 20px;
                }
            }
        }
        @include is (lg){
            width: 50%;
        }
    }
    @include is (lg){
        padding: 25px 0;
    }
}