//Tipografias
$poppins: 'Poppins', sans-serif;

//Pesos de tipografias
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

//Colores
$blanco: #FFFFFF;
$negro: #000000;
$azul1: #060747;
$azul2: #00D2D2;
$azul3: #303E66;
$amarillo1: #FF9900;
$gris1: #CCCCCC;
$rosa1: #F04095;
$rojo1: #FF7575;
$verde1: #25D366;

//Puntos de corte
$breakpoints: (
    xs: 0px,
    s: 380px,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

//Mixins
@mixin is($media) {
    $breakpoint: map-get($breakpoints, $media);
    @media screen and (min-width: $breakpoint) { @content; }
}
@mixin textos($color, $fontSize, $fontWeigth) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeigth;
    font-family: $poppins;
}
@mixin animate($duration, $ease) {
    -webkit-transition: all #{$duration} #{$ease};
    -moz-transition: all #{$duration} #{$ease};
    -ms-transition: all #{$duration} #{$ease};
    -o-transition: all #{$duration} #{$ease};
    transition: all #{$duration} #{$ease};
}
@mixin  btn-start{
    font-size: 1rem;
	font-family: $poppins;
    font-weight: $extrabold;
	color: $blanco;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
    letter-spacing: 1px;
    @include animate(0.5s, ease);
    &:hover {
        background-image: linear-gradient(to top, #2b5876 10%, #4e4376 50%);
        transform: scale(1.05);
    }
}

//Modificadores
@each $breakpoint, $value in $breakpoints {
    @include is($breakpoint) {
        @for $i from 0 through 30 {
        .fontsize-#{$breakpoint}-#{$i} {
            font-size: #{$i}px!important
        }

        .padd-l-#{$breakpoint}-#{$i} {
            padding-left: #{$i*10}px!important;
        }
        .padd-r-#{$breakpoint}-#{$i} {
            padding-right: #{$i*10}px!important;
        }
        .padd-t-#{$breakpoint}-#{$i} {
            padding-top: #{$i*10}px!important;
        }
        .padd-b-#{$breakpoint}-#{$i} {
            padding-bottom: #{$i*10}px!important;
        }

        .marg-l-#{$breakpoint}-#{$i} {
            margin-left: #{$i*10}px!important;
        }
        .marg-l-#{$breakpoint}-auto {
            margin-left: auto!important;
        }
        .marg-r-#{$breakpoint}-#{$i} {
            margin-right: #{$i*10}px!important;
        }
        .marg-r-#{$breakpoint}-auto {
            margin-right: auto!important;
        }
        .marg-t-#{$breakpoint}-#{$i} {
            margin-top: #{$i*10}px!important;
        }
        .marg-b-#{$breakpoint}-#{$i} {
            margin-bottom: #{$i*10}px!important;
        }

        .marg-ln-#{$breakpoint}-#{$i} {
            margin-left: -#{$i*10}px!important;
        }
        .marg-rn-#{$breakpoint}-#{$i} {
            margin-right: -#{$i*10}px!important;
        }
        .marg-tn-#{$breakpoint}-#{$i} {
            margin-top: -#{$i*10}px!important;
        }
        .marg-bn-#{$breakpoint}-#{$i} {
            margin-bottom: -#{$i*10}px!important;
        }
        }
    }
}
@keyframes typing {
    from {width: 0;}
}
