//Tipografias
$poppins: 'Poppins', sans-serif;

//Pesos de tipografias
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

//Colores
$blanco: #FFFFFF;
$negro: #000000;
$azul1: #303E66;
$azul2: #00D2D2;
$amarillo1: #FF9900;
$gris1: #CCCCCC;
$rosa1: #F04095;
$rojo1: #FF7575;

//Puntos de corte
$breakpoints: (
    xs: 0px,
    s: 380px,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

//Mixins
@mixin is($media) {
    $breakpoint: map-get($breakpoints, $media);
    @media screen and (min-width: $breakpoint) { @content; }
}
@mixin textos($color, $fontSize, $fontWeigth) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeigth;
    font-family: $poppins;
}
@mixin animate($duration, $ease) {
    -webkit-transition: all #{$duration} #{$ease};
    -moz-transition: all #{$duration} #{$ease};
    -ms-transition: all #{$duration} #{$ease};
    -o-transition: all #{$duration} #{$ease};
    transition: all #{$duration} #{$ease};
}
@mixin  btn-start{
    font-size: 1rem;
	font-family: $poppins;
    font-weight: $extrabold;
	color: $blanco;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
    letter-spacing: 1px;
    @include animate(0.5s, ease);
    &:hover {
        background-image: linear-gradient(to top, #2b5876 10%, #4e4376 50%);
        transform: scale(1.05);
    }
}
